@import '../../../node_modules/react-tabs/style/react-tabs.css';

.villa-compact-view {
    background: url('/images/villas-bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.villa-compact-view .villa {

}