body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;  
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: rgba(0,0,0,.86);
}

h1, h2 {
  text-transform: uppercase;
}